In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
file_path = "EduPro_Online_Platform_Dataset.xlsx"

users = pd.read_excel(file_path, sheet_name="Users")
courses = pd.read_excel(file_path, sheet_name="Courses")
transactions = pd.read_excel(file_path, sheet_name="Transactions")

In [3]:
users.head(), courses.head(), transactions.head()

(   UserID        UserName  Age  Gender                             Email
 0  U00001    wilsonjordan   15    Male            patricia27@hotmail.com
 1  U00002        angela22   29  Female             hallrandy@hotmail.com
 2  U00003  morrisonamanda   33  Female               ganderson@yahoo.com
 3  U00004       fthornton   23  Female  christensencatherine@outlook.com
 4  U00005  fostergeoffrey   21    Male            karenfuentes@yahoo.com,
   CourseID              CourseName CourseCategory CourseType   CourseLevel  \
 0  CR00001           Python Basics    Programming       Paid      Beginner
 1  CR00002        Java Programming    Programming       Free  Intermediate
 2  CR00003       C++ for Beginners    Programming       Free      Beginner
 3  CR00004         Advanced Python    Programming       Free      Beginner
 4  CR00005  Full Stack Development    Programming       Free      Beginner

    CoursePrice  CourseDuration  CourseRating
 0       472.28           11.00          4.74
 1         0.00           37.70          2.43
 2         0.00           19.53          3.85
 3         0.00           45.13          2.88
 4         0.00           28.68          1.28  ,
   TransactionID  UserID CourseID TransactionDate  Amount  PaymentMethod  \
 0       TT00001  U00003  CR00016      2025-10-25     0.0         PayPal
 1       TT00002  U00003  CR00037      2025-01-13     0.0         PayPal
 2       TT00003  U00003  CR00019      2025-03-28     0.0  Bank Transfer
 3       TT00004  U00004  CR00048      2025-06-02     0.0  Bank Transfer
 4       TT00005  U00004  CR00060      2025-08-10     0.0         PayPal

   TeacherID
 0   TC00040
 1   TC00040
 2   TC00040
 3   TC00040
 4   TC00042  )

In [4]:
users.info(),courses.info(),transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   UserID    3000 non-null   object
 1   UserName  3000 non-null   object
 2   Age       3000 non-null   int64
 3   Gender    3000 non-null   object
 4   Email     3000 non-null   object
dtypes: int64(1), object(4)
memory usage: 117.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CourseID        60 non-null     object
 1   CourseName      60 non-null     object
 2   CourseCategory  60 non-null     object
 3   CourseType      60 non-null     object
 4   CourseLevel     60 non-null     object
 5   CoursePrice     60 non-null     float64
 6   CourseDuration  60 non-null     float64
 7   CourseRating    60 non-null     float64
dtypes: float64(3), object(5)
memory usage: 3.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10000 non-null  object
 1   UserID           10000 non-null  object
 2   CourseID         10000 non-null  object
 3   TransactionDate  10000 non-null  datetime64[ns]
 4   Amount           10000 non-null  float64
 5   PaymentMethod    10000 non-null  object
 6   TeacherID        10000 non-null  object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 547.0+ KB

(None, None, None)

In [ ]:
u